/* main setup */

main.main-home {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  align-items: stretch;
  background-color: var(--primary-background-color);
  padding-top: 17em;
}

/* section setup */

.sec-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sec-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: solid var(--primary-border-color) 3px;
  padding: 2em 2.5em 2em 2.5em;
}

.sec-title {
  font-size: 48px;
  line-height: 76px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 15px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  color: var(--primary-text-color);
  transition: 0.2s;
}

.sec-title:hover {
  filter: var(--logo-filter);
}

.sec-title > em {
  font-style: normal;
  color: var(--secondary-text-color);
  transition: 0.15s;
}

.sec-title__em--1 {
  background-color: white;
}

.sec-title__em--1:hover {
  background-color: transparent;
}

.sec-description {
  font-size: 19px;
  line-height: 32px;
  color: var(--hover-text-color);
  transition: 0.15s;
}

.sec-description:hover {
  color: var(--primary-text-color);
}

.sec-separator--1 {
  width: 100% !important;
  font-weight: 600;
  font-size: 24px !important;
  margin-top: 2.7em;
  border: none;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1.5px;
  color: var(--hover-text-color);
  transition: 0.15s;
}

.sec-separator--1:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
}

/* section 1 */

.sec--1 {
  display: flex;
  width: auto;
  margin-bottom: 5em;
}

/* flex */

@media only screen and (max-width: 1024px) {
  .sec-content {
    padding-left: 15px;
    padding-right: 10px;
    border-left-width: 1px;
  }

  .sec-title {
    font-size: 32px;
  }

  .sec-description {
    font-size: 16px;
  }

  .sec-separator {
    font-size: 19px;
  }
}
