/* main setup */

main.main-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    background-color: var(--secondary-background-color);
}

/* section 1 */

.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-background-color);
    padding-top: 6em;
}

/* featured */

.featured {
    display: flex;
}

.featured__item {
    display: flex;
    width: 668px;
    height: 192px;
    background-color: var(--primary-background-color);
}

.featured__item__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

img-block.featured__item__img {
    position: relative;
    padding-left: 10px;
    background-color: var(--secondary-background-color);
    background-size: cover;
    min-width: 60%;
    height: 100%;
    border: solid var(--primary-border-color) 0;
    border-left-width: 3px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    background-image: url("/assets/images/illustrations/jetson.png");
}

img.featured__item__img {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    filter: var(--logo-filter);
}

.featured__item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.featured__item__content__sec-1 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    flex: 1;
}

.featured__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: capitalize;
}

.featured__desc {
    font-size: 15px;
    color: var(--secondary-text-color);
}

.featured__item__content__separator {
    margin-top: 5px;
    margin-bottom: 5px;
}

.featured__co {
    visibility: hidden;
    text-decoration: underline;
    font-size: 10px;
    color: var(--secondary-text-color);
}

.featured__co:hover {
    color: var(--primary-text-color);
}

/* other list */

.ol {
    width: 668px;
}

.ol-item {
    width: 100%;
}

.ol-item__content {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    background-color: var(--primary-background-color);
    border-left: solid var(--primary-border-color) 3px;
}

.ol-item__content__info {
    display: flex;
    flex-direction: column;
}

.ol-item__content__img {
    visibility: hidden;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
}

.ol-item__title {
    text-transform: capitalize;
    color: var(--secondary-text-color);
    font-size: 12px;
}

.ol-item__desc {
    text-decoration: underline;
    font-weight: 600;
}

.ol-item__desc:hover {
    color: var(--hover-text-color);
}

/* section 2 */

.sec-2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-background-color);
    padding-top: 35px;
}

.sec-2__list {
    width: 668px;
}

.sec-2__item {
    margin-bottom: 15px;
    width: 100%;
}

.sec-2__item__content {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    background-color: var(--primary-background-colors);
    border-left: solid var(--primary-border-color) 3px;
}

.sec-2__item__content__info {
    display: flex;
    flex-direction: column;
}

.sec-2__item__content__img {
    visibility: hidden;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 32px;
}

.sec-2__item__title {
    text-transform: capitalize;
    color: var(--secondary-text-color);
    font-size: 12px;
}

.sec-2__item__desc {
    text-decoration: underline;
    font-weight: 600;
}

.sec-2__item__desc:hover {
    color: var(--hover-text-color);
}

/* section banner */

.banner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.banner__separator {
    padding-bottom: 0 !important;
    margin-top: 75px;
    width: 100%;
}

.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background-color);
    height: 100%;
    padding-bottom: 5em;
}

.banner__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
}

.info-separator {
    padding-top: 25px;
}

/* section banner - banner top */

.banner__wrapper__top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transform: translateY(-35px);
}

.banner__logo {
    background-size: cover;
    background-color: var(--primary-background-colors);
    box-shadow: 0 0 0 1px var(--primary-border-color);
    border: solid var(--primary-background-color) 1px;
    width: 70px;
    height: 70px;
}

.banner__wrapper__top__info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.banner__title {
    font-weight: 600;
}

.banner__publisher {
    text-transform: capitalize;
    font-size: 12px;
}

/* section banner - screenshots */

.banner__screenshots {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.banner__screenshot {
    width: 668px;
    margin-bottom: 15px;
}

/* section banner - description */

.banner__description {
    font-size: 14px;
}

/* section banner - download list */

.download-separator {
    border: none;
}

.banner__dwnlist__wrapper {
    display: flex;
    width: 668px;
}

.banner__dwnlist {
    width: 668px;
    border: solid var(--primary-border-color) 0px;
    border-width: 1px 3px 0px 3px;
}

.banner__dwnlist__item {
    width: 100%;
}

.banner__dwnlist__item__content {
    display: flex;
    position: relative;
    padding: 5px 10px 5px 10px;
    height: 100%;
    background-color: var(--primary-background-color);
    border-bottom: solid var(--primary-border-color) 1px;
}

.banner__dwnlist__item__content:hover {
    background-color: var(--secondary-background-color);
}

.banner__dwnlist__item__info {
    margin-right: 12px;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.banner__dwnlist__item__info__download {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #2196F3;
}

.banner__dwnlist__item__info:hover {
    color: var(--primary-text-color);
    text-decoration: underline;
}