/* basic setup */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "akira";
  src: url("woff/akira_expanded_demo-webfont.woff2") format("woff2"),
    url("woff/akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.desc-a {
  text-decoration: underline;
}

.desc-a:hover {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 48;
}

html,
body {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Mono", monospace, "Poppins", sans-serif;
  user-select: none;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr {
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-decoration-color: var(--primary-text-color);
  transition: 0.2s;
  color: var(--primary-text-color);
}

button {
  width: 56px;
  height: 24px;
  background-color: var(--secondary-background-color);
  outline: none;
  border: 0;
  color: var(--primary-text-color);
}

/* header setup */

header {
  display: flex;
  z-index: 1000 !important;
  width: 100%;
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  background-color: var(--primary-background-color);
  justify-content: center;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid var(--primary-border-color) 1px;
}

.logo-text {
  font-size: 16px;
  letter-spacing: 1.5px;
  color: var(--hover-text-color);
  font-family: "Roboto", monospace;
  transition: 0.15s;
}

.logo-text:hover {
  color: var(--primary-text-color);
  text-decoration: underline;
}

.nav {
  display: none;
  width: 100%;
  justify-content: flex-start;
  padding-left: 36px;
  align-items: center;
}

.nav__item {
  font-size: 14px;
  margin-left: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.nav__item:hover {
  color: var(--hover-text-color);
}

/* footer setup */

footer {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  background-color: var(--primary-background-color);
  justify-content: center;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  border: solid var(--primary-border-color) 0;
  border-top-width: 0px;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid var(--primary-border-color) 1px;
}

.footer__blob {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 15px;
}

.footer__blob__content {
  display: flex;
  width: 100%;
}

.footer__blob__title {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: var(--primary-text-color);
}

.footer__blob__item {
  font-size: 16px;
  margin-right: 12px;
  font-weight: 600;
  color: var(--hover-text-color);
}

.footer__blob__item:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
}

.end-blob {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.end-blob__img {
  width: 48px;
  height: 16px;
  background-image: url("/assets/images/logos/logo.png");
  background-size: cover;
  filter: var(--logo-filter);
  margin-right: 12px;
}

.end-blob__item {
  font-size: 12px;
  margin-right: 12px;
  color: var(--hover-text-color);
}

.end-blob__item:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
}

.end-blob__logo {
  font-size: 14px;
  margin-right: 10px;
}

/* main setup */

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  margin: 0;
  padding: 0;
}

/* wrapper */

wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-background-color);
}

/* page iframe */

.page-iframe {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: overlay;
}

/* image block */

img-block {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* area separator */

area-separator {
  display: flex;
  border-bottom: solid var(--primary-border-color) 1px;
  width: 668px;
  color: var(--primary-text-color);
  font-size: 12px;
  text-transform: capitalize;
  padding-bottom: 5px;
}

/* other */

.wrapper {
  width: 100%;
  margin-left: 25em;
  margin-right: 25em;
}

/* mobile */
@media only screen and (max-width: 2150px) {
  .wrapper {
    margin-left: 20em;
    margin-right: 20em;
  }
}

@media only screen and (max-width: 1700px) {
  .wrapper {
    margin-left: 12em;
    margin-right: 12em;
  }
}

@media only screen and (max-width: 1435px) {
  .wrapper {
    margin-left: 9em;
    margin-right: 9em;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    margin-left: 25px;
    margin-right: 25px;
  }
}
