/* basic setup */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Slab:wght@400;500;600&display=swap');

.visually-hidden {
    display: none;
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' -25,
    'opsz' 24
}

html, body {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

ul, li, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

hr {
    margin: 0;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-decoration-color: var(--primary-text-color);
    transition: 0.2s;
    color: var(--primary-text-color);
}

button {
    width: 56px;
    height: 24px;
    background-color: var(--secondary-background-color);
    outline: none;
    border: 0;
    color: var(--primary-text-color);
}

/* header setup */

header {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    background-color: var(--primary-header-color);
    border: solid var(--primary-border-color) 0;
    border-bottom-width: 1px;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__content--center {
    display: flex;
}

.header-logo {
    width: 48px;
    height: 20px;
    background-image: url("/assets/images/logos/logo.png");
    transition: 0.2s;
    filter: var(--logo-filter);
}

.header-logo:hover {
    filter: invert(52%) sepia(4%) saturate(0%) hue-rotate(268deg) brightness(96%) contrast(91%);
}

.header__content--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    right: 0;
}

.color-picker > fieldset {
    border: 0;
    display: flex;
    padding: 0;
    margin: 0;
    gap: .85em;
    background-color: var(--primary-header-color);
    width: fit-content;
    margin-inline: auto;
}

.color-picker input[type="radio"] {
    appearance: none;
    margin: 0;
    width: 7px;
    height: 7px;
    outline: solid var(--radio-color, currentColor) 2px;
    outline-offset: 2px;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: #ecf0f1;
}

.color-picker input[type="radio"]#dark {
    --radio-color: #171717;
}

/* main setup */

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    margin: 0;
    padding: 0;
}

/* wrapper */

wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

/* page iframe */

.page-iframe {
    display: flex;
    height: 100%;
    width: 100%;
}

/* image block */

img-block {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* area separator */

area-separator {
    display: flex;
    border-bottom: solid var(--primary-border-color) 1px;
    width: 456px;
    color: var(--secondary-text-color);
    font-size: 12px;
    text-transform: capitalize;
    padding-bottom: 5px;
}