:root {
  --primary-text-color: #24292f;
  --primary-background-color: white;
  --primary-border-color: black;
  --secondary-text-color: #57606a;
  --secondary-background-color: #efeff4;
  --secondary-border-color: gray;
  --hover-text-color: gray;
  --placeholder-image: url("/assets/images/illustrations/noise2white.png");
  --logo-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg)
    brightness(96%) contrast(104%);
}
