:root {
  --header-background-color: #313235;
  --header-text-color: white;
  --footer-background-color: #313235;
  --footer-text-color: white;
  --primary-text-color: black;
  --primary-background-color: white;
  --primary-border-color: black;
  --secondary-text-color: #57606a;
  --secondary-background-color: #efeff4;
  --secondary-border-color: gray;
  --hover-text-color: gray;
  --placeholder-image: url("/assets/images/illustrations/noise2white.png");
  --logo-filter: invert(100%) sepia(13%) saturate(1%) hue-rotate(53deg)
    brightness(105%) contrast(101%);
}
