:root {
  --primary-text-color: white;
  --primary-background-color: #0e1212;
  --primary-border-color: white;
  --secondary-text-color: #e64a19;
  --secondary-background-color: black;
  --secondary-border-color: black;
  --hover-text-color: gray;
  --placeholder-image: url("/assets/images/illustrations/noise2white.png");
  --logo-filter: invert(100%) sepia(13%) saturate(1%) hue-rotate(53deg)
    brightness(105%) contrast(101%);
}
